@import "github-markdown-css/github-markdown-light";

.markdown-body {
  max-width: 680px;
  margin-inline: auto;
  font-family: inherit;
  background-color: transparent;
  color: inherit;
  line-height: 1.75;
  h1, h2 {
    border-bottom: none;
    padding-bottom: 0px;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
  }
  h1 {
    font-weight: 800;
  }
  h2 {
    font-weight: 700;
  }
  h3, h4 {
    font-weight: 600;
  }
  h5, h6 {
    font-size: inherit;
  }
  h6 {
    color: var(--fgColor-default);
  }
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  table {
    border-width: 1px;
    width: 100%;
    display: table;
    font-size: 0.875em;
    tr:nth-child(2n) {
      background-color: transparent;
    }
    th {
      padding: 0.5rem;
      background-color: oklch(96.7% 0.003 264.542);
      border: 1px solid oklch(92.8% 0.006 264.531);
      text-align: left;
    }
    td {
      vertical-align: top;
      padding: .5em;
      border-color: oklch(92.8% 0.006 264.531);
    }
  }
  blockquote {
    font-style: italic;
  }
  li {
    list-style-type: inherit
  }
  ul {
    list-style-type: disc;
    ul {
      list-style-type: circle;
      ul {
        list-style-type: square;
      }
    }
    & > li {
      margin-block: .5em;
      &::marker {
        color: oklch(87.2% 0.01 258.338);
      }
    }
  }
  ol {
    list-style-type: decimal;
    ol {
      list-style-type: lower-alpha;
      ol {
        list-style-type: lower-roman;
        ol {
          list-style-type: upper-alpha;
          ol {
            list-style-type: upper-roman;
          }
        }
      }
    }
    & > li {
      margin-block: .5em;
      &::marker {
        color: oklch(55.1% 0.027 264.364);
      }
    }
  }
  figure {
    margin: 0;
    &.image_resized {
      margin-inline: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
    &.image-style-block-align-left {
      margin-left: 0;
    }
    &.image-style-block-align-right {
      margin-right: 0;
    }
    &.image-style-align-left {
      float: left;
      margin-right: 1.5em;
    }
    &.image-style-align-right {
      float: right;
      margin-left: 1.5em;
    }
  }
  img {
    &.image_resized {
      width: 100%;
      height: auto;
    }
  }
  p {
    text-indent: 0;
  }
}
