.markdown-body {
  figure {
    margin: 2em 0;
    &.image {
      clear: both;
      display: table;
      margin-inline: auto;
      & > figcaption {
        background-color: oklch(96.7% 0.003 264.542);
        caption-side: bottom;
        display: table-caption;
        outline-offset: -1px;
        padding: .6em;
        text-align: center;
        color: var(--tw-prose-captions);
        font-size: 0.875em;
        line-height: 1.4285714;
        margin-top: 0.8571429em;
      }
    }
    &.image_resized {
      margin-inline: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
    &.image-style-block-align-left {
      margin-left: 0;
    }
    &.image-style-block-align-right {
      margin-right: 0;
    }
    &.image-style-align-left {
      float: left;
      margin-right: 1.5em;
    }
    &.image-style-align-right {
      float: right;
      margin-left: 1.5em;
    }
  }
  img {
    vertical-align: middle;
    height: auto;
    &.image_resized {
      width: 100%;
      height: auto;
    }
  }
}